@media only screen and (min-width: 360px) {
    html {
        font-size: 1.50rem;
    }
}
@media only screen and (min-width: 420px) {
    html {
        font-size: 1.45rem;
    }
}
@media only screen and (min-width: 480px) {
    html {
        font-size: 1.40rem;
    }
}
@media only screen and (min-width: 540px) {
    html {
        font-size: 1.35rem;
    }
}
@media only screen and (min-width: 600px) {
    html {
        font-size: 1.30rem;
    }
}
@media only screen and (min-width: 660px) {
    html {
        font-size: 1.25rem;
    }
}
@media only screen and (min-width: 720px) {
    html {
        font-size: 1.20rem;
    }
}
@media only screen and (min-width: 780px) {
    html {
        font-size: 1.15rem;
    }
}
@media only screen and (min-width: 840px) {
    html {
        font-size: 1.10rem;
    }
}
@media only screen and (min-width: 900px) {
    html {
        font-size: 1.05rem;
    }
}
@media only screen and (min-width: 960px) {
    html {
        font-size: 16px;
    }
}