html {
    height:100%;
    font-family: 'Varela Round', sans-serif;
}

.main-container {
    margin-bottom: 0;
}

.responsive-svg {
    width: 100%;
}

.profile-img {
    padding-top: 20px;
}

.sidebar .details {
    margin-top: 30px;
    word-wrap: break-word;
}

.sidebar .details li {
    padding: 5px 10px;
    margin: 5px auto;
    text-align: center;
}

.sidebar .details .detail-value {
    display: block;
    font-size: 1em;
    color: #D3B2A7;
}

.main-content {
    padding: 10px 20px;
}

.detail-block {
    padding: 10px;
    border-bottom: 1px dashed #D3B2A7;
}

.detail-block.last {
    border-bottom: none;
}

.detail-block .header {
    color: #4e342e;
    padding-bottom: 10px;
}

.detail-block .detail {
    color: #8d6e63;
    margin-bottom: 15px;
}

.detail-block .detail .chip.toggle {
    cursor: pointer;
}

.detail-block .detail h5,p{
    margin-top: 5px;
    margin-bottom: 0;
    color: #8d6e63;
}

.detail-block .detail blockquote{
    margin: 5px;
    border-color: #009688;
}

.detail-block .detail .description.hide {
    display: none;
}