:root {
    --varden: #FFF8DC;
    --brown: #834C24;
    --light-brown: #E9B28A;
    --blue: #003366;
    --black: #1F1209;
}

html {
    height:100%;
    font-family: 'Varela Round', sans-serif;
    background-color: var(--varden);
    color: var(--black);
}

object, embed{
    width:100%;
    min-height:100%;
}

.responsive-svg, .responsive-img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.personal-details .profile-img{
    max-width: 250px;
    padding: 20px;
}

.personal-details hr {
    border: none;
    border-top: 1px dashed var(--light-brown);
    margin: 0 2rem 1.5rem 2rem;
}

.personal-details .detail {
    margin: 20px 20px;
    word-wrap: break-word;
    text-align: center;
}

.personal-details .detail h6 {
    text-transform: capitalize;
}

.personal-details .detail .detail-value {
    display: block;
    font-size: 0.9rem;
    color: var(--blue);
}

.personal-details .detail .detail-media {
    display: block;
    font-size: 0.9rem;
    color: var(--brown);
}

.main-content {
    border-left: 1px dashed var(--light-brown);
}

.main-content .tabs {
    background: transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.main-content .tabs .tab a {
    color: var(--brown);
    font-size: 1.2rem;
}

.main-content .tabs .tab .active {
    font-weight: 500;
}

.main-content .tabs .indicator {
    background-color: var(--brown);
}

.detail-block {
    padding: 10px;
    border-bottom: 1px dashed #D3B2A7;
}

.detail-block.last {
    border-bottom: none;
}

.detail-block .header {
    color: #4e342e;
    padding-bottom: 10px;
}

.detail-block .detail {
    color: #8d6e63;
    margin-bottom: 15px;
}

.detail-block .detail .chip.toggle {
    cursor: pointer;
}

.detail-block .detail h5,p{
    margin-top: 5px;
    margin-bottom: 0;
    color: #8d6e63;
}

.detail-block .detail blockquote{
    margin: 5px;
    border-color: #009688;
}

.detail-block .detail .description.hide {
    display: none;
}

.main-content .resume {
    margin: 2rem;
}
