<div>
    <div class="detail-block" data-ng-repeat="project in $ctrl.projects">
        <div class="detail">
            <detail-header-directive
                header="project.name">
            </detail-header-directive>
            <detail-sub-header-directive
                sub-header="project.description">
            </detail-sub-header-directive>
            <br>
            <button class="btn btn-flat" data-ng-click="$ctrl.getProjectReadme(project.name)">View Readme</button>
            <a data-ng-href="{{ project.svn_url }}" class="btn btn-flat" target="_blank">GitHub Link</a>
        </div>
    </div>
    <div id="projectModal" class="modal">
        <div class="modal-content" data-ng-bind-html="$ctrl.projectReadme"></div>
        <div class="modal-footer">
            <button class="modal-action modal-close btn btn-flat">Close</button>
        </div>
    </div>
</div>
