<div class="detail-block last">
    <h4 class="header mdi mdi-projector-screen">&nbsp;Projects</h4>
    <div class="row detail" ng-repeat="item in $ctrl.details">
        <div class="col s12">
            <h5 class="brown-text detail-header">
                <span ng-bind="item.title"></span>
                &nbsp;&nbsp;
                <a target="_blank" title="Link to project" class="mdi mdi-open-in-new brown-text" ng-if="(item.url != null)" ng-href="{{ item.url }}"></a>
            </h5>
            <small><b ng-bind="item.occupation"></b></small>
            <br>
            <small ng-bind="( item.start_date + ' - ' + item.end_date )"></small>
            <blockquote ng-repeat="data in item.description" ng-bind="data"></blockquote>
        </div>
    </div>
</div>