<div class="detail-block last">
    <detail-block-header icon="'mdi-projector-screen'" header="'Projects'"></detail-block-header>
    <div class="col s12 detail project" ng-repeat="item in details | orderBy:sortParameter">
        <detail-header header="item.title"></detail-header>
        <detail-sub-header sub-header="item.occupation"></detail-sub-header>
        <detail-dates start-date="item.start_date" end-date="item.end_date"></detail-dates>
        <detail-list list="item.description" ng-hide="!item.toggle"></detail-list>
        <div ng-click="toggleDetails(item)" class="toggle">
            <span class="mdi mdi-chevron-down mdi-36px" ng-hide="item.toggle"></span>
            <span class="mdi mdi-chevron-up mdi-36px" ng-hide="!item.toggle"></span>
        </div>
    </div>
</div>
