<div class="row">
    <div class="col s4 l8 offset-s4 offset-l2">
        <div class="profile-img">
            <img class="responsive-img circle z-depth-2 white" ng-src="{{ $ctrl.details.pngURL }}">
        </div>
    </div>
</div>
<h5 class="flow-text white-text center-align" ng-bind="$ctrl.details.name"></h5>
<ul class="details">
    <li>
        <h6 class="white-text mdi mdi-phone">&nbsp;&nbsp;Phone</h6>
        <label class="detail-value" ng-bind="$ctrl.details.phone"></label>
    </li>
    <li>
        <h6 class="white-text mdi mdi-email">&nbsp;&nbsp;Email</h6>
        <a href="mailto:{{ $ctrl.email }}" class="detail-value lighten-1" ng-bind="$ctrl.details.email"></a>
    </li>
    <li>
        <h6 class="white-text mdi mdi-home">&nbsp;&nbsp;Address</h6>
        <label class="detail-value" ng-repeat="addressLine in $ctrl.details.address">
            <span ng-bind="addressLine"></span>
            <br>
        </label>
    </li>
</ul>
<div class="row">
    <div class="col s3 center-align" ng-repeat="(key, item) in $ctrl.details.media">
        <a target="_blank" title="{{ key }}" ng-class="item.icon_class" class="mdi mdi-36px white-text" ng-href="{{ item.url }}"></a>
    </div>
</div>